<% layout('layouts/boilerplate')%>

<div class="container mb-3">
    <div class="row mb-3">
        <h1 class="text-center fw-lighter mb-4 text-muted text-decoration-underline">Edit your Notes</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/notes/<%=note._id%>/?_method=PUT" method="post" class="row my-3 validated-form" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="notes[title]" placeholder="add your note title.." value="<%=note.title%>" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
    
        
        <div class="mb-3">
            <div class="custom-file">
                <label for="">Add Image(s):</label>
                <input type="file" class="form-control" id="image" name="image" multiple>
                <label class="form-label" for="image">
                    <span class="form-text custom-file-label">Choose images...</span>
                   
                </label>
            </div>
        </div>
    

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" name="notes[description]" value="<%=note.description%>" placeholder="add your note description.." required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <div class="mb-3">
            <label for="">Select the image(s) you want to delete:</label>
            <div class="delete-box">
    
                <% note.images.forEach( (img, i) => { %>
                    <div class="delete-item form-check">
                        <label for="image-<%= i %>" class="form-check-label">  
                            <img src="<%= img.thumbnail %>" class="img-thumb" alt="<%= img.filename %>">
                        </label>
                        <input type="checkbox" class="form-check-input" name="deleteImages[]" 
                            value="<%= img.filename %>" id="image-<%= i %>">                    
                    </div>
                <% }) %>
    
            </div>
        </div>

        <div class="btn-group" aria-label="First group">
            <button class="btn btn-info">Update Note</button>
            
        </div>
      
        
    </form>
    <div class="btn-group"  aria-label="Second group">
        <a class="btn btn-success" href="/notes/<%=note._id %>">Back to notes</a>
    </div>
    </div>
    </div>
    </div>


    
    

</html>