<% layout('/layouts/boilerplate') %> 
<div class="row">
    <div class="col-6">
      <div id="noteCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% note.images.forEach((img,i)=>{ %>
          <div class="carousel-item <%= i===0 ? 'active': ''%>">
            <img src="<%=img.url%>" class="d-block w-100" alt="">
          </div>
          <% }) %> 
        </div>
        <%if(note.images.length>1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#noteCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#noteCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%=note.title%></h5>
              <p class="card-text"><%=note.description%></p>
            </div>
        
            <div class="card-body">
                <a  class="card-link btn btn-info" href="/notes/<%=note._id%>/edit">Edit</a>
               
                <form class="d-inline" action="/notes/<%=note._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>     
              </form>  
            </div>
            <div class="card-footer text-muted">
              <small class="text-primary text-end">&mdash; <%=note.author.username%> </small>
              <small class="text-muted">&vert; <%=note.lastUpdatedString%> </small>
              </div>
              
        </div>
    </div>
</div>
    
</body>
</html>